DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change-this-password

WEBHOOK_USERNAME=PersonalStarter
WEBHOOK_PASSWORD=change-this-password

ASTRALSKETCH_WEBHOOK_URL=https://n8n.n8ngsus.uk/webhook/ee261d6d-1392-421a-a612-8ea1ffe1aaa6
ASTRAL_GERMAN_WEBHOOK_URL=https://n8n.n8ngsus.uk/webhook/16f2e784-88fe-4290-99de-2e3f9027164e
SOMOS_COSMOS_WEBHOOK_URL=https://n8n.n8ngsus.uk/webhook/d93ee5fd-6c3c-4b9c-973b-0faf7af62838
SKETCH_DINERO_WEBHOOK_URL=https://n8n.n8ngsus.uk/webhook/7613febf-24a5-42e0-b0d8-582db13d059f
